<footer>
  <div class="row">
    <div class="columns">
      <dl class="footer">
        <dt class="footer-title no-margin"><a class="top-logo" href="/">Koliseo Limited</a></dt>
        <div class="footer-list">
          <dd><a class="footer-link" href="mailto:info@koliseo.limited">E-mail</a></dd>
          <dd><a class="footer-link" href="/disclaimer">Disclaimer</a></dd>
          <dd><a class="footer-link" href="/privacy">{{site.data.i18n.cookies.Policy}}</a></dd>
          <dd><a class="footer-link" href="/privacy">{{site.data.i18n.PrivacyPolicy}}</a></dd>
        </div>
      </dl>
    </div>
  </div>
</footer>