<header class="header-container">
  <div class="header-content">
    <section class="header">
      <div class="logo-container">
        ​<picture>
          <source srcset="img/wlogo.svg" type="image/svg+xml">
          <img src="img/wlogo.png" alt="Koliseo Ltd">
        </picture>
        <p class="home-subtitle">{{site.data.i18n.DefaultDesc}}</p>
      </div>
      <div class="snapshot-container">
        <picture>
          <source srcset="img/snapshot-l.png" media="(min-width: 64.0625em)">
          <source srcset="img/snapshot-m.png" media="(min-width: 40.0625em)">
          <img src="img/snapshot.png" alt="Koliseo Ltd">
        </picture>
      </div>
    </section>
  </div>
</header>