<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if site.data.i18n[page.title] %}{{site.data.i18n[page.title]}}{% else %}{{page.title}}{% endif %} | Koliseo Ltd</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/app.css">
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.data.i18n.defaultDesc}}{% endif %}">
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="cookie-container hide">
      <div class="cookie-permissions">
        <section>
          <div class="row">
            <div class="hgroup">
              <h3>{{site.data.i18n.cookies.Advice}}</h3>
            </div>
            <div class="row">
              <p class="columns small-12 medium-10">
                {{site.data.i18n.cookies.Description}}
              </p>
              <p class="columns small-12 medium-2">
                <a class="accept-cookies button tiny">{{site.data.i18n.actions.Accept}}</a>
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>

    {{ content }}

    {% include footer.html %}

    <script src="/js/app.min.js"></script>
    
  </body>
</html>